* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: monospace, sans-serif, serif;
}

main{
    width: 100%;
    height: auto;
}

.main-content {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto auto 100px;
}

.main-content .back-to-index-btn {
    grid-column: 1/1;
    grid-row: 1/1;
    padding: 20px;
    transform-style: preserve-3d;
}

.main-content .back-to-index-btn:hover{
    animation: smash 0.5s linear forwards;
}

@keyframes identifier {
    0% {
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 1);
    }
    50% {
        transform: rotateY(30deg);
        color: rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 1);
    }
}

.main-content .page-title {
    width: 100%;
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 2.5rem;
}

.main-content .summary {
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 1.5rem;
    padding: 20px;
}

.main-content .images {
    grid-column: 2/2;
    grid-row: 3/3;
    display: grid;
    grid-template-columns: auto auto;
}

/* all odd child elements */
.main-content .images:nth-child(n+1) {
    grid-column: 1/1;
}

/* all even child elements */
.main-content .images:nth-child(n+2) {
    grid-column: 2/2;
}

.main-content .images li {
    display: grid;
    grid-template-columns: auto 200px auto;
}

.main-content .images li img {
    width: 200px;
    height: 200px;
    grid-column: 2/2;
}