* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif, serif;
    color: rgba(0, 0, 0, 0.75);
}

body {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
}

.main-content {
    grid-row: 1/1;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% auto auto 20%;
    grid-template-columns: 20% auto 20%;
}

.main-content h1 {
    grid-column: 2/3;
    grid-row: 2/2;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.75);
}

.main-content .socials {
    grid-row: 3/3;
    grid-column: 2/2;
}

.main-content svg {
    width: 50px;
}

.main-content h1 a {
    text-decoration: underline;
    transform-style: preserve-3d;
    display: inline-block;
    color: rgba(0, 0, 0, 0.75);
}

.main-content .socials a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.main-content .socials a svg, .footer-nav .nav-link {
    transform-style: preserve-3d;
    display: inline-block;
}

/* apply wordDance animation to hover operation */
.main-content h1 .intro-link-1:hover, .main-content h1 .intro-link-2:hover {
    cursor: pointer;
    animation: smash 0.5s forwards;
}

.main-content .socials .gh-link svg:hover, .main-content .socials .li-link svg:hover,
.main-content .socials .ig-link svg:hover, .footer-nav .nav-link:hover {
    animation: smash 0.5s forwards;
}

.footer-nav {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: auto;
}

.footer-nav .nav-link {
    font-size: 2.5rem;
    padding: 20px;
    color: rgba(0, 0, 0, 0.75);
}

/* animation is activated when applied characters and words are
 * clicked to drop to the specified area of the page the word or
 * character is refering to */
@keyframes smash {
    0% {
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 1);
    }
    50% {
        transform: rotateY(30deg);
        color: rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 1);
    }
}

.projects {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}